__pycache__/

x86_assembly/*.bin
x86_assembly/master.img
x86_assembly/master.vmdk
x86_assembly/bx_enh_dbg.ini
x86_assembly/bochs/pkg
x86_assembly/bochs/src
x86_assembly/bochs/bochs-2.6.11*
x86_assembly/master.img.lock
